body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.screen input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5e5e5e;
}

button:active {
    transform: scale(0.95);
}